  .auth-card{
    height: 80vh;
    width: 70%;
    background-color: white;
    color: black;
    display: flex;
  }
  .auth-card-left{
    width: 50%;
    height: 100%;
    background-image: url("../resources/loginbg.png");
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .auth-card-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
  }
  .auth-card-right h1{
    text-align: center;
  }
  .auth-card-right form input[type="email"]{
    background: url("../icons/at.png") no-repeat left;
  }
  .auth-card-right form input[type="text"]{
    background: url("../icons/login-login.png") no-repeat left;
  }
  .auth-card-right form input[type="password"]{
    background: url("../icons/login-password.png") no-repeat left;
  }
  .auth-card-right form input[type="password"], .auth-card-right form input[type="text"], .auth-card-right form input[type="email"] {
    width: 100%;
    padding: 20px 20px 20px 60px;
    border: 1px solid #161616;
    margin: 1% 0 3% 0;
    background-position: 5%;
    background-size: 20px;
  }
  .remember-me{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .auth-card-right form input[type="checkbox"]{
    height: 24px;
    width: 24px;
    background: #fff;
    border: 1px solid black;
    margin: 0 8px 0 0;
    outline:2px solid #A61C1C;
    outline-offset: -2px;
  }
  .auth-card form input[type="submit"] {
    width: 70%;
    height: 7vh;
    padding: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #A61C1C;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  .auth-card form .trd-login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .auth-card form .trd-login .facebook-login, .auth-card form .trd-login .google-login{
    width: 7vh;
    height: 7vh;
    padding: 3%;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.2s;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .facebook-login {
    background-color: #4267B2;
    background-image: url("../icons/facebook.png");
  }
  .google-login {
    background-color: #DB4437;
    background-image: url("../icons/google.png");
  }
  .auth-card form input[type="submit"]:hover {
      background-color: #921919;
    transition: background-color 0.2s;
  }