.comingsoon-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2%;
  }
.main h1{
    margin-bottom: 1%;
}
#calendar-container {
	width: 100%;
  height: 80vh;
	margin: 0 auto;
}

#calendar-header {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	align-items: center;
}

.day-of-week {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  background-color: #A61C1C;
}

#calendar-controls {
	display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#month-back,
#month-forward {
	cursor: pointer;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.day {
  padding: 10px;
  border: 2px solid #0d0d0d;
  text-align: center;
  background-color: #161616;
}
.day a{
  text-decoration: none;
  color: white
}

.today {
  font-weight: bold;
}

.event {
  padding: 1%;
}

.today:before {
  content: '\2022\00a0';
  color: #A61C1C;
  font-weight: bold;
}

.event-name{
  background-color: deepskyblue;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1%;
}

.upcoming-item
{
    background-color: #161616;
    width: 100%;
    height: 20vh;
    padding: 0.5%;
}
.upcoming-item img{
    height: 100%;
    border: 1px solid #0d0d0d;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: left;
}
.upcoming-data{
    padding: 0.5%;
}
a{
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 768px) {
  .comingsoon-section{
    justify-content: normal;
    flex-direction: column;
  }
  #calendar-container{
    height: 45vh;
    width: 100%;
    margin-bottom: 10vh;
  }
  #calendar, #calendar-controls, #calendar-header{
    width: 100%;
  }
  #calendar-controls{
    font-size: 4vw;
  }
  .day-of-week span {
    display: none;
  }
  .day-of-week {
    font-size: 3vw;
  }
  #calendar-header .day-of-week:nth-child(1):before {
    content: "PN";
  }

  #calendar-header .day-of-week:nth-child(2):before {
      content: "WT";
  }

  #calendar-header .day-of-week:nth-child(3):before {
      content: "ŚR";
  }

  #calendar-header .day-of-week:nth-child(4):before {
      content: "CZ";
  }

  #calendar-header .day-of-week:nth-child(5):before {
      content: "PT";
  }

  #calendar-header .day-of-week:nth-child(6):before {
      content: "SO";
  }

  #calendar-header .day-of-week:nth-child(7):before {
      content: "ND";
  }
  .event-name{
    width: 100%;
    overflow-x: hidden;
    font-size: 2vw;
  }
  .day{
    border-width: 1px;
  }
  .comingsoon-list a{
    width: 100%;
  }
  .upcoming-item {
    flex-basis: 100%;
    flex-direction: column!important;
    height: auto;
    width: 100%;
  }
  .upcoming-item img{
    width: 100%;
  }
  .upcoming-data{
    font-size: 4vw;
    padding: 2%;
  }
  .month-name{
    font-size: 4vw;
  }
}