.edit-profile-wrapper{
    display: flex;
    justify-content: space-between;
    max-height: 70vh;
    overflow: auto;
}
.user-card{
    background-color: #161616;
    width: 64%;
    overflow: hidden;
    flex: 1;
    padding: 2%;
    min-height: 55vh;
}
.left{
    width: 30%;
    flex: 1;
    padding-right: 1%
}
.mid{
    width: 70%;
    padding: 0 2%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.mid::-webkit-scrollbar{
    display: none;
}
.mid h2{
    text-align: center;
}
.right{
    width: 35%;
    max-height: 70vh;
    margin-left: 1%;
    padding: 2%;
    background-color: #161616;
}
.right h2{
    text-align: center;
}
.pfp{
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px solid white;
    margin-bottom: 7%;
}
.data-username{
    font-size: 1.5em;
    text-align: center;
}
.data-role{
    color: #A61C1C;
    text-align: center;
}
img {
    max-height: 70vh;
}
.stats-data{
    color: #A61C1C;
    float: right;
}
textarea{
    width: 100%;
    height: 100%;
    background-color: #262626;
    color: white;
    border: none;
    font-family: 'Axios Pro', sans-serif;
    line-height: 1.5;
    resize: none;
    outline: none;
    padding: 2%;
}
.mid p{
    text-align: right;
    font-size: 0.75vw;
}
.input_container {
    margin: 3% 0;
}

#fileUpload{
    width: 100%;
    background-color: #fff;
    color: #000;
    border: 0px;
    padding: 10px 15px;
    transition: .5s;
    overflow: none;
}
#fileUpload:focus{
    outline: none;
}
#desc-area{
    margin-top: 1%;
}
button[type="submit"] {
    margin-top: 1%;
    background-color: #a61c1c;
    border: 1px solid #303030;
    color: white;
    font-size: 1.2vw;
    font-family: inherit;
    padding: 1vh;
    outline: none;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .edit-profile-wrapper{
        flex-direction: column;
        justify-content: normal;
        max-height: 80vh;
    }
    .user-card{
        width: 100%;
        max-height: 70%;
    }
    .data-username{
        overflow-wrap: break-word;
        font-size: 4vw;
    }
    .data-role{
        font-size: 3vw;
    }
    .mid, .left, .mid p{
        font-size: 3vw;
    }
    .right{
        display: none;
    }
    .main a, #save-changes{
        font-size: 4vw; 
    }
}