.users-section > table{
    margin-bottom: 3%;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    
    padding: 1vh;
    text-align: left;
}
.users-row{
    border-bottom: 1px solid #0d0d0d;
}
.users-header{
    background-color: #A61C1C;
}
tr{
    background-color: #161616;
}
.users_id, .users_role, .users_reason {
    max-width: 10%;
}
.users_actions {
    padding: 0.5vh;
    max-width: 15%;
    align-items: center;
}
.actions
{
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.actions-header
{
    text-align: center;
}