.user-card{
    background-color: #161616;
    width: 100%;
    overflow: hidden;
    padding: 2%;
}
.left{
    width: 30%;
    height: 100%;
    padding-right: 1%
}
.right{
    width: 70%;
    height: 100%;
    padding-left: 1%;
}
.pfp{
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px solid white;
    margin-bottom: 7%;
}
.desc{

}
.data-nowrap{
    white-space: nowrap;
}
.data-nowrap b{
    float: right;
}
img {
    max-height: 70vh;
}