.search-item
{
    background-color: #161616;
    width: 100%;
    height: 20vh;
    padding: 0.5%;
}
.search-item img{
    height: 100%;
    border: 1px solid #0d0d0d;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: left;
}
.item-data{
    padding: 0.5%;
}
a{
    text-decoration: none;
    color: white;
}
.noResults{
    margin-top: 3%;
}
.mobile-divider{
    display: none;
}
@media screen and (max-width: 768px) {
    .search-item {
      flex-basis: 100%;
      flex-direction: column!important;
      height: auto;
      width: 100%;
    }
    .search-item img{
      width: 100%;
    }
    .search-data{
      font-size: 4vw;
      padding: 2%;
    }
    .search-item h4{
        font-size: 5vw;
    }
    .search-item p{
        font-size: 4vw;
    }
    h2{
        font-size: 5vw;
    }
    .noResults{
        font-size: 5vw;
    }
    .mobile-divider{
        display: block;
        height: 3vh;
    }
  }